<div *ngIf="users.length > 0">
  <h2>List of Users:</h2>
  <div class="columns is-multiline">
    <div class="column is-4" *ngFor="let user of users">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3" (click)="onClick(user)">
            <img
              src="https://picsum.photos/id/{{ user.id }}/200?blur"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48" (click)="onClick(user)">
                <img
                  src="https://xsgames.co/randomusers/assets/avatars/pixel/{{
                    user.id
                  }}.jpg"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4" (click)="onClick(user)">{{ user.name }}</p>
              <p class="subtitle is-6" (click)="onClick(user)">
                {{ user.email }}
              </p>
            </div>
          </div>

          <div class="content">
            <p>Address: {{ user.address.street }}, {{ user.address.suite }}</p>
            <p>Phone: {{ user.phone }}</p>
            <p>
              Website:
              <a
                href="{{ user.website }}"
                target="_blank"
                rel="noopener noreferrer"
                >{{ user.website }}</a
              >
            </p>
            <p>Company: {{ user.company.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
