<section class="section">
    <div class="container">
      <h2 class="title is-2">Albums</h2>
      <div *ngIf="albums.length > 0" class="columns is-multiline">
        <div class="column is-4" *ngFor="let album of albums">
          <div class="card">
            <div class="card-content">
              <p class="title is-4">{{ album.title }}</p>
              <p class="subtitle is-6">User ID: {{ album.userId }}</p>
              <p><strong>Album ID:</strong> {{ album.id }}</p>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="albums.length === 0" class="has-text-danger">No albums available.</p>
    </div>
  </section>